.aboutUsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0 3%;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.person img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    clip-path: circle();
    max-width: 100%;
}

.personInfo {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
    max-width: 100%;
    flex-shrink: 1;
}

.personInfo h5 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 5px;
}

.personInfo p {
    margin: 15px 0;
    overflow-wrap: break-word;
}

@media (max-width: 768px) {
    .person {
        flex-direction: column;
        align-items: center;
        width: 340px;
    }
    
    .person img {
        max-width: 150px;
    }

    .personInfo {
        margin-top: 10px;
        text-align: center;
        margin: 0;
    }

    .personInfo h5 {
        text-align: center;
    }
}