.admin-page {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0 3%;
    min-height: calc(100vh - 100px);
}

.stat-list {
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    height: 100px;
}

.lists-wrapper {
    display: flex;
    padding: 20px;
    margin: 5px;

    -webkit-box-shadow: 3px 5px 26px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 26px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 26px -9px rgba(0,0,0,0.75);
}

.user-list-container{
    margin-left: auto;
}

.list-of-users {
    width: 175px;
    list-style-type: none;
    padding: 0;
}

.users {
    display: flex;
    border: 1px solid black;
    margin: 5px auto;
    min-height: 22.5px;
}

.ban-button {
    margin-left: auto;
    background-color: rgb(252, 99, 99);
    border-radius: 5px;
}

.list-of-banned-users {
    width: 175px;
    list-style-type: none;
    padding: 0;
}

.banned-users {
    display: flex;
    border: 1px solid black;
    margin: 5px;
    min-height: 22.5px;
}

.unban-button {
    margin-left: auto;
    background-color: rgb(100, 244, 100);
    border-radius: 5px;
}