.admin-page {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 3%;
    min-height: calc(100vh - 100px);

    border: 1px solid red;

    justify-content: space-around;
}

.stat-list {
    border: 1px solid black
}

.user-list-container{
    margin-left: auto;
}

.list-of-users {
    width: 175px;
    list-style-type: none;
    padding: 0;
}

.users {
    display: flex;
    border: 1px solid black;
}

.ban-button {
    margin-left: auto;
    background-color: rgb(252, 99, 99);
    border-radius: 5px;
}

.list-of-banned-users {
    width: 175px;
    list-style-type: none;
    padding: 0;
}

.banned-users {
    display: flex;
    border: 1px solid black;
}

.unban-button {
    margin-left: auto;
    background-color: rgb(100, 244, 100);
    border-radius: 5px;
}