.review-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 3px 5px 26px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 26px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 26px -9px rgba(0,0,0,0.75);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.review-card h4 {
    color: #333;
    font-size: 18px;
    margin-bottom: 0px;
}

.review-card p {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

.review-rating {
    font-weight: bold;
    color: #0056b3;  
}

.review-content {
    display: flex;
    flex-direction: column;  
}

.review-details {
    display: flex;
    margin-top: 10px;
}

.rating-stars {
    position: relative;
    display: inline-block;
    font-size: 18px;
    width: 180px; 
    height: 18px;
    line-height: 1;
    white-space: nowrap;
}

.rating-stars::before,
.rating-stars::after {
    content: '★★★★★★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.rating-stars::before {
    opacity: 0.5;
    color: #ccc;
    width: 100%; 
}

.rating-stars::after {
    color: #f5a623;
    width: var(--rating); 
    overflow: hidden;
}

.violence-indicator {
    font-weight: bold;
    padding: 3px 6px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
}

.violence-yes {
    background-color: #c0392b;
}

.violence-no {
    background-color: #27ae60;
}

.suggested-age {
    background-color: #ecf0f1;
    padding: 3px 6px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    color: #ec0f0f;
}

.add-review-button{
    margin-left: 10px;
    color: #c0392b;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #111;
    color: #ccc;
}