.main {
    position: relative;
    
}
footer {
    position: relative;
    background-color: #f4f4f4; 
    padding: 20px 0; 
    text-align: center;
    margin: 0 3%;
    left: 0;
    bottom: 0;
    height: auto;
}

footer hr {
    border: none; 
    border-top: 1px solid #ccc; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-name {
    font-size: 14px; 
    margin-bottom: 5px; 
}

.footer-description {
    font-size: 12px; 
    margin-right: 10px; 
    flex-grow: 1; 
}

/* .footer-icons {
    position: relative;
    right: 50px;
    font-size: 20px; 
} */