/* General body styles */
body {
    font-family: Arial, sans-serif; /* Ensures the font is something clean and simple */
    background-color: #f4f4f4; /* Light grey background */
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box; /* Apply universally */
  }
/* Game list styles */
.game-container {
    padding: 20px;
    background-color: white; /* White background for each game */
    border: 1px solid #ddd; /* Light border for the game containers */
    margin: 10px 20px;
    border-radius: 8px; /* Rounded corners for the game containers */
}


.game-title {
    font-size: 18px;
    color: #333; /* Dark grey color for the game title */
}

.game-description {
    color: #666; /* Medium grey for the text */
}

.game-info {
    font-style: italic;
    margin-top: 10px;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Changed from space-between for more consistent spacing */
    margin: 20px 0; /* Assuming no additional horizontal margin is affecting width */
    width: 100%; /* Ensure the container takes full available width */
}

.game-card {
    flex: 1 1 calc(33.33% - 20px); /* Adjust the flex-basis to account for any margins */
    margin: 10px;  /* Ensure this margin is accounted for in the flex-basis calculation */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* Image container for controlling image size */
.game-image-wrapper {
    width: 100%; /* Full width of the card */
    height: 200px; /* Fixed height for images */
    overflow: hidden; /* Hide parts of the image that exceed dimensions */
    display: flex;
    align-items: center; /* Center align the image vertically */
    justify-content: center; /* Center align the image horizontally */
}

.game-image {
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Maximum width of the image */
    max-height: 100%; /* Maximum height in the wrapper */
}

.game-link {
    color: black;
    text-decoration: none;
}



.game-title {
    margin-top: 10px;
}

.game-stats {
    margin-top: 10px;
}
