.login-container {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 100px);
    padding-top: 100px;
}

.login-body {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 500px;
}

.login-body h2 {
    font-size: x-large;
    align-items: center;
   
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-form label {
    font-size: large;
    font-weight: bold;
    margin: 10px 0;
    display: block;
}

.login-form input, .login-form button {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    width: calc(100%-22px);
    box-sizing: border-box
}

.login-form button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #111;
}

.error-message {
    color: #cc0000;
    font-size: 0.9rem;
    margin-top: 5px;
}

.link-button .loginPage{
    background: none;
    border: none;
    color: #0066cc;
    cursor: pointer;
    padding: 0;
    border-radius: 5px;
    text-decoration: none;
}

.login-body p {
    margin-top: 20px;
}

.loginPage {
    display: inline-block;  
    padding: 4px 8px;
    margin-top: 2px;  
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.loginPage:hover {
    background-color: #111;
}