/* src/style/notFoundPage.css */
.not-found-page {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.not-found-page h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.not-found-page p {
    font-size: 14px;
    margin-bottom: 30px;
}

.not-found-page a {
    color: #060606;
    text-decoration: none;
    font-size: 14px;
}

.not-found-page a:hover {
    text-decoration: underline;
}

.not-found-image {
    max-width: calc(100% - 100px); 
    max-height: 400px; 
    width: auto;
    height: auto;
    margin-bottom: 20px;
}